pre code.endpoint { background:#2886b6;}
.highlight { padding:1em 0em; color:#FFC;}

#container nav.in-page li.current li a {background:#FFF;color:#292929;}
#container nav.in-page li ul {display: none;}
#container nav.in-page li.current > ul {display: block;}
#container nav.in-page li li li a {color:#777 !important;padding-left: 3em !important;text-transform: none;letter-spacing:normal;}
#container nav.in-page li li.current a {background-color: #cadae2;}
#container nav.in-page li li.current li a {background-color: #FFF;}
#container nav.in-page li li.current li.current a {color: #2886b6 !important;}

.in-page article {min-height:600px;}
.in-page article iframe {margin-bottom: 1.5em;}
.in-page article ol[itemprop="breadcrumb"] li {list-style:none;margin-left: 0;}
.in-page article ol li {list-style:decimal;margin-left: 2em;}

#install-app-guide ol li {margin-left: 0;list-style: none;}

.endpoint-field-parameters {max-width: 100%; border-spacing: 0; width: 100%; margin-bottom: 24px; border-collapse: separate; border-radius: 1px; margin-top:24px; }
.endpoint-field-parameters tr { background:#FBFBFB;}
.endpoint-field-parameters td { padding: 18px 24px 6px 24px; border-right: 1px solid #e8e8e8; 
line-height: 24px;
text-align: left;
vertical-align: top;
border-top: 1px solid #e8e8e8;
color: #575757;}
.endpoint-field-parameters tr td:first-child { width:200px; }
.endpoint-field-parameters tr:nth-child(2n) { background:#FFF;}
.endpoint-field-parameters tr td .code-example { color:#2886b6; }
.layout-dexter .content { margin-top:1em; }
