---
layout: default
---

<nav>
	<ul>
		<li><a href="/api">REST API</a>
			<ul>
				<li><a href="/api#overview">Overview</a></li>
				<!-- <li><a href="/api#libraries">Libraries</a></li> -->
				<li {% if page.url == '/api/authentication/index.html'  %} class="active" {% endif %}><a href="/api/authentication">Authentication</a></li>
				<li {% if page.url == '/api/events/index.html'  %} class="active" {% endif %}><a href="/api/events">Events</a>
					<ul>
						<li><a href="/api/events#list_events">List Events</a></li>
						<li><a href="/api/events#single_event">Single Event</a></li>
					</ul>
				</li>
				<li {% if page.url == '/api/registrations/index.html'  %} class="active" {% endif %}><a  href="/api/registrations">Registrations </a>
					<ul>
						<li><a href="/api/registrations#list_event_registrations">List Event Registrations</a></li>
						<li><a href="/api/registrations#create_a_registration">Create Registration</a></li>
					</ul>
				</li>
				<li><a   href="/api/registrations">Checkins</a>
					<ul>
						<li><a href="/api/registrations#list_event_registrations">List Event Registrations</a></li>
						<li><a href="/api/registrations#create_a_registration">Create Registration</a></li>
					</ul>
				</li>
				<li><a href="/api/registrations">Users</a>
					<ul>
						<li><a href="/api/registrations#list_event_registrations">List Event Registrations</a></li>
						<li><a href="/api/registrations#create_a_registration">Create Registration</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li><a href="/webhooks">Webhooks</a>
			<ul>
				<li><a href="/webhooks#intro">Overview</a></li>
				<li><a href="/webhooks#libraries">Libraries</a></li>
				<li><a href="/webhooks#examples">Examples</a></li>
			</ul>
		</li>
		<li><a href="https://akkroo.com/support" target="_blank">Support</a></li>
	</ul>
</nav>

<div id="content">
	{{ content }}
</div>