---
layout: default
---

<nav class="side-nav">
	<ul>
		<li><a href="/docs/api">REST API</a>
			<ul>
				<li><a href="/docs/api#overview">Overview</a></li>
				<!-- <li><a href="/docs/api#libraries">Libraries</a></li> -->
				<li {% if page.url == '/api/authentication/index.html'  %} class="active" {% endif %}><a href="/docs/api/authentication">Authentication</a></li>
				<li {% if page.url == '/api/events/index.html'  %} class="active" {% endif %}><a href="/docs/api/events">Events</a>
					<ul>
						<li><a href="/docs/api/events#create_event">Create Event</a></li>
						<li><a href="/docs/api/events#list_events">List All Events</a></li>
						<li><a href="/docs/api/events#list_single_event">List Single Event</a>
							<ul>
								<li><a href="/docs/api/events#list_registrations">List Registrations</a></li>
								<li><a href="/docs/api/events#list_checkins">List Checkins</a></li>
								<li><a href="/docs/api/events#create_registration">Create Registration</a></li>
								<li><a href="/docs/api/events#create_checkin">Create Checkin</a></li>
								<li><a href="/docs/api/events#bulk_registrations">Bulk Registrations</a></li>
								<li><a href="/docs/api/events#bulk_checkins">Bulk Checkins</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="/docs/api/users">Users</a>
					<ul>
						<li><a href="/docs/api/users#single_user">Single User</a></li>
						<li><a href="/docs/api/users#create_user">Create User</a></li>
						<li><a href="/docs/api/users#update_user">Update User</a></li>	
					</ul>
				</li>
				<li {% if page.url == '/api/resources/index.html'  %} class="active" {% endif %}><a href="/docs/api/resources">Resources</a>
					<ul>
						<li><a href="/docs/api/resources#single_resource">Single Resource</a></li>
					</ul>
				</li>
				<li {% if page.url == '/api/company/index.html'  %} class="active" {% endif %}><a href="/docs/api/company">Company</a>
					<ul>
						<li><a href="/docs/api/company#single_company">Single Company</a></li>
					</ul>
				</li>
				<li {% if page.url == '/api/authentication-testing/index.html'  %} class="active" {% endif %}><a href="/docs/api/authentication-testing">Authorisation Testing</a>
					<ul>
						<li><a href="/docs/api/authentication-testing">Auth Testing</a></li>
					</ul>
				</li>

			</ul>
		</li>
		<li><a href="/docs/webhooks">Webhooks</a>
			<ul>
				<li><a href="/docs/webhooks#intro">Overview</a></li>
				<li><a href="/docs/webhooks#libraries">Libraries</a></li>
				<li><a href="/docs/webhooks#examples">Examples</a></li>
			</ul>
		</li>
		<li><a href="https://akkroo.com/support" target="_blank">Support</a></li>
	</ul>


<!-- Here's a list of all the endpoints.  You can also get this by looking at the code, in 
/publish/shared/Akkroo/API/Endpoints

Use PublicAPI as the client to test these.  your client for the form does not have access.

/api/appUsers/[id]
/api/events/[id]
/api/events/[id]/registrations
/api/resources/[resourceName]
/api/authtest
/api/company
/api/selftest -->

</nav>

<div id="content">
	{{ content }}
</div>