---
layout: default
---

<nav class="in-page">
	<ul>
		<li {% if page.url contains '/customers' or page.url == '/index.html'  %} class="current" {% endif %}><a href="/">Help Centre</a>
			<ul>
				<li {% if page.url contains '/customers/guides' or page.url == '/'  %} class="current" {% endif %}><a href="/customers/guides">Guides &amp; Tutorials</a>
					<ul>
					<li {% if page.url contains '/customers/guides/get-started.html'  %} class="current" {% endif %}><a href="/customers/guides/get-started.html">Getting Started</a></li>	
						<li {% if page.url contains '/customers/guides/installation.html'  %} class="current" {% endif %}><a href="/customers/guides/installation.html">Installing the App</a></li>
						<li {% if page.url contains '/customers/guides/collecting.html'  %} class="current" {% endif %}><a href="/customers/guides/collecting.html">Collecting Data</a></li>
						<li {% if page.url contains '/customers/guides/download.html'  %} class="current" {% endif %}><a href="/customers/guides/download.html">Downloading Data</a></li>
						<li {% if page.url contains '/customers/guides/efficiency.html'  %} class="current" {% endif %}><a href="/customers/guides/efficiency.html">Choosing Fields</a></li>
						<li {% if page.url contains '/customers/guides/email.html'  %} class="current" {% endif %}><a href="/customers/guides/email.html">Using Email</a></li>
						<li {% if page.url contains '/customers/guides/styling.html'  %} class="current" {% endif %}><a href="/customers/guides/styling.html">Styling the App</a></li>
						<li {% if page.url contains '/customers/guides/team-access.html'  %} class="current" {% endif %}><a href="/customers/guides/team-access.html">Working in Teams</a></li>
						<li {% if page.url contains '/customers/guides/update-ios.html'  %} class="current" {% endif %}><a href="/customers/guides/update-ios.html">Updating iOS</a></li>
						<li {% if page.url contains '/customers/guides/update.html'  %} class="current" {% endif %}><a href="/customers/guides/update.html">Software Updates</a></li>
						<li {% if page.url contains '/customers/guides/user-guide.html'  %} class="current" {% endif %}><a href="/customers/guides/user-guide.html">User Guide (PDF)</a></li>
					</ul>
				</li>
				<li {% if page.url contains '/customers/videos' or page.url == '/'  %} class="current" {% endif %}><a href="/customers/videos">Video Tutorials</a></li>
				<li><a href="https://akkroo.com/dashboard/customers/ticket">New Support Ticket</a></li>
				<li><a href="http://status.akkroo.com" class="new-window">Service Status</a></li>
			</ul>
		</li>
		<li {% if page.url contains '/developers'  %} class="current" {% endif %}><a href="/developers">Developers</a>
			<ul>
				<li {% if page.url contains '/developers/api'  %} class="current" {% endif %}><a href="/developers/api">REST API</a>
					<ul>
						<li {% if page.url == '/developers/api/get-started/index.html'  %} class="current" {% endif %}><a href="/developers/api/get-started">Getting Started</a></li>
						<li {% if page.url == '/developers/api/libraries/index.html'  %} class="current" {% endif %}><a href="/developers/api/libraries">Downloads &amp; SDKs</a></li>
						<li {% if page.url == '/developers/api/authentication/index.html'  %} class="current" {% endif %}><a href="/developers/api/authentication">Authentication</a></li>
					
						<li {% if page.url == '/developers/api/users/index.html'  %} class="current" {% endif %}><a href="/developers/api/users">Users</a></li>
					
						<li {% if page.url == '/developers/api/resources/index.html'  %} class="current" {% endif %}><a href="/developers/api/resources">Resources</a></li>
						<li {% if page.url == '/developers/api/company/index.html'  %} class="current" {% endif %}><a href="/developers/api/company">Company</a></li>
						<li {% if page.url == '/developers/api/authentication-testing/index.html'  %} class="current" {% endif %}><a href="/developers/api/authentication-testing">Authorisation Testing</a></li>
					</ul>
				</li>
				<li {% if page.url contains '/developers/webhooks'  %} class="current" {% endif %}><a href="/developers/webhooks">Webhooks</a></li>
				<li {% if page.url contains '/developers/projects'  %} class="current" {% endif %}><a href="/developers/projects">Projects</a>
					<ul>
						<li {% if page.url contains '/developers/projects/mongo-query.html'  %} class="current" {% endif %}><a href="/developers/projects/mongo-query.html">Mongo Query</a></li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</nav>
<div class="in-page">
	<article>
	{{ content }}
	</article>
</div>